<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Historical Weather Forecast</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container" th:with="province=${province}">
        <h2>Historical Weather Forecast</h2>
        <p>This table showed the weather forecasts in <span th:text="${province}"/> Province of Thailand in past 30 days.</p>
        <br>

        <div th:with="region=${region}">
            <div class="col-sm-6">
                <form action="/weather-forecast/historical">
                    <label for="region">Choose a Region:</label>
                    <select id="region" name="region">
                        <option value="C" th:selected="${region} == 'C' ? true : false">Central</option>
                        <option value="N" th:selected="${region} == 'N' ? true : false">Northern</option>
                        <option value="NE" th:selected="${region} == 'NE' ? true : false">Northeastern</option>
                        <option value="E" th:selected="${region} == 'E' ? true : false">Eastern</option>
                        <option value="S" th:selected="${region} == 'S' ? true : false">Southern</option>
                        <option value="W" th:selected="${region} == 'W' ? true : false">Western</option>
                    </select>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="col-sm-6">
                <p style="text-align:right">
                    <a href="/weather-forecast">Go Back</a>
                </p>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th style="text-align:center">Date</th>
                <th style="text-align:center">Weather Condition</th>
                <th style="text-align:center">Min Temperature (°C)</th>
                <th style="text-align:center">Max Temperature (°C)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="date,i : ${historicalForecast30Days.getValidTimeLocal()}">
                <td style="text-align:center"  th:text="${date}">Date</td>
                <td style="text-align:center"  th:text="${historicalForecast30Days.getWxPhraseLongDay()[i.index]}">Weather Condition</td>
                <td style="text-align:center"  th:text="${historicalForecast30Days.getTemperatureMin()[i.index]}">Min Temperature (°C)</td>
                <td style="text-align:center"  th:text="${historicalForecast30Days.getTemperatureMax()[i.index]}">Max Temperature (°C)</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>